@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

.App {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.FakeHuman {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}
.person_image {
    width: 256px;
    height: 256px;
    border-radius: 5px;
    margin: 5px;
}
.data {
    margin-left: 25px;
    margin-right: 30px;
    display: block;
    overflow-x: hidden;
    height: 265px;
    width: 100%;
}
.paragraph {
    font-family: 'Libre Franklin';
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(184, 184, 184);
}
.info {
    text-align: right;
    display: inline-block;
}
.welc {
    font-family: 'Noto Serif Display', serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: rgb(17, 17, 17);
    margin: 0;
    margin-top: 20px;
}
.welcgg {
    font-family: 'Noto Serif Display', serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: rgb(17, 17, 17);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 40px; 
}

@media (max-width: 1339px) {
    .App {
        display: block;
    }
}
.center {
    margin: 0;
    text-align: center;
}
@media (max-width: 825px) {
    .FakeHuman {
        display: block;
    }
    .data {
        margin: 0;
    }
}